<div class="col-md-offset-2 mb-4 edit-profile-wrapper">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="profile-form-wrap">
        <%= form_with scope: resource, as: resource_name, url: registration_path(resource_name), local: true, method: :patch do |f| %>
          <div class="form-group">
            <%= f.label :name, "名前" %>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :username, "ユーザーネーム" %>
            <%= f.text_field :username, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :website, "ウェブサイト" %>
            <%= f.text_field :website, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :phone_number, "電話番号" %>
            <%= f.number_field :phone_number, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password, "パスワード" %>
            <%= f.password_field :password, autofocus: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "パスワードの確認" %>
            <%= f.password_field :password_confirmation, autofocus: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :self_intro, "自己紹介" %>
            <%= f.text_area :self_intro, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :sex, "性別" %>
            <label class="ml-2"><%= f.radio_button :sex, "男性" %>男性</label>
            <label class="ml-2"><%= f.radio_button :sex, "女性" %>女性</label>
          </div>
          
          <%= f.submit "変更する", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
