<div class="profile-wrap">
  <% provide(:title, @title) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= image_tag avatar_url(@user), class: "round-img" %>
        <h1><%= @user.name %></h1>
        <span><%= link_to "プロフィール", @user %></span>
        <span><b>投稿:</b> <%= @user.posts.count %></span>
      </section>
      <section class="stats">
        <%= render 'partial/stats' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= @title %></h3>
      <% if @users.any? %>
        <ul class="users follow">
          <%= render @users %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
