
  <div id="follow_form" class= "col-md-2 offset-md-0.5">
  <% if current_user.following?(@user) %>
    <%= render 'partial/unfollow' %>
  <% else %>
    <%= render 'partial/follow' %>
  <% end %>
  </div>
