<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <%= link_to "", root_path, class: "navbar__brand navbar__mainLogo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-md-auto align-items-center">
        <li>
          <%= search_form_for @search, url: search_path do |f| %>
            <form class="form-inline" style="display: inline">
              <%= f.search_field :caption_cont, class: "mr-sm-4 col-md-6",placeholder: "キャプション検索", autocomplete: :on  %>
              <%= f.submit "検索", class: "btn btn-primary my-2 my-sm-0" %>
            </form>
          <% end %>
        </li>
        <li>
          <% if unchecked_notifications.any? %>
            <i class="fa fa-circle" style="color: red;"></i>
          <% end %>
              <%= link_to "", notifications_path, class: "far fa-bell fa-3x" %>
        </li>
        <li>
           <%= link_to "投稿", new_post_path, class: "btn btn-primary" %>
        </li>
        <li>
          <%= link_to "", user_path(current_user), class: "nav-link commonNavIcon profile-icon" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
