<% @user ||= current_user %>
<div class="stats">
  <a>投稿 <span class="font-weight-bold"><%= @user.posts.count %></span>件</a>
  <a href="<%= following_user_path(@user) %>">
    フォロー数：
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
  </a>
  <a href="<%= followers_user_path(@user) %>">
    フォロワー数：
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
  </a>
</div>
