<% provide(:title, "Search Result") %>

<div class="container">
  <h4 class="text-center titlespace">検索結果</h4>
  <div class="content-center mt-5">
    <%= paginate @posts %>
  </div>
  <div class="row">
    <%= render "posts/card-list", {posts: @posts}%>
  </div>
</div>
